name: ci
run-name: CI for ${{ github.sha }} on ${{ github.ref_name }}

on:
  workflow_dispatch:
  push:
    branches:
      - "main"
      - "release-**"
    tags:
      - "v**"
  pull_request:
    branches:
      - "*"

jobs:
  unit-test:
    uses: ./.github/workflows/unittest.yaml
  build:
    uses: ./.github/workflows/build-and-test-rock.yaml
  gh-publish:
    if: ${{ (github.ref == 'refs/heads/main') || (github.ref_type == 'tag') }}
    needs: [ build, unit-test ]
    uses: canonical/identity-team/.github/workflows/_rock-gh-publish.yaml@7ec3565943646a4abe70497e354edac4357349a8 # v1.9.3
    with:
      rock: "user-verification-service"
      structure-tests-enabled: true
  scan:
    if: ${{ (github.ref == 'refs/heads/main') || (github.ref_type == 'tag') }}
    needs: gh-publish
    uses: canonical/identity-team/.github/workflows/_rock-scan.yaml@7ec3565943646a4abe70497e354edac4357349a8 # v1.9.3
    with:
      image: ${{ needs.gh-publish.outputs.image }}
